body {
    text-align: center;
}

#calculator {
    display: inline-block;
    text-align: center;
    /* border: 15px solid rgba(220,220,220, 0.5); */
    border: 2px solid black;
    background-color: rgba(128,128,128, 0.25);
}

#buttonscontainer {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.buttons {
    font-size: 25px;
    flex-shrink: 0;
    flex-basis: 23.95%;
    border: 1px solid black;
    background-color: rgba(210, 230, 255, 0.75);
}

#zero {
    flex-basis: 47.9%;
}

#form > input {
    width: 60%;
    height: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.text {
    padding-top: 5px;
}